In [1]:
import numpy as np
import pandas as pd

from pandas import DataFrame, Series
from numpy.random import randn

In [3]:
ser1 = Series([1,2,3,4],index= ['A','B','C','D'])
ser1

A    1
B    2
C    3
D    4
dtype: int64

In [5]:
ser2 = ser1.reindex(['A','B','C','D','E','F'])
ser2

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
dtype: float64

In [6]:
ser2.reindex(['A','B','C','D','E','F','G'],fill_value=0)

A    1.0
B    2.0
C    3.0
D    4.0
E    NaN
F    NaN
G    0.0
dtype: float64

In [13]:
ser3 = Series(['Japan', 'United Kingdom', 'Pakistan'], index=[9, 0, 10])
ser3

9              Japan
0     United Kingdom
10          Pakistan
dtype: object

In [24]:
ranger = range(15)

In [25]:
ranger

range(0, 15)

In [27]:
ser3.reindex(ranger).ffill() #I have no idea why this works and not -> ser3.reindex(ranger, method='ffill'), but hey wolcome to programming.

0     United Kingdom
1     United Kingdom
2     United Kingdom
3     United Kingdom
4     United Kingdom
5     United Kingdom
6     United Kingdom
7     United Kingdom
8     United Kingdom
9              Japan
10          Pakistan
11          Pakistan
12          Pakistan
13          Pakistan
14          Pakistan
dtype: object

In [29]:
dframe = DataFrame(randn(25).reshape((5,5)),index=['A','B','C','D','E'],columns=['col1','col2','col3','col4','col5'])

dframe

       col1      col2      col3      col4      col5
A  1.139068  1.387684  0.518214  1.205518 -1.027665
B -1.259410 -0.692203 -1.266266 -1.035497  0.348341
C  0.551281 -1.411320  0.772396  0.483183  0.119849
D  2.207774  0.549455  1.562661  1.634559 -0.129876
E  0.858747  1.410458 -0.808736  1.591357  0.000871